<div class="container-all">
  <app-header></app-header>

  <main class="main">
    <picture class="portrait">
      <img src="assets/jobs/job1/job1_500x500_1.jpg" alt="portrait" />
    </picture>

    <article class="info">
      <h1 class="info__title">K E L E</h1>
      <p class="info__tags"><b>item 1</b>, <b>item 2</b></p>

      <p class="info__text --primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
        egestas est. Vestibulum in laoreet velit. Cras eget pellentesque eli
      </p>
      <p class="info__text --secondary">
        
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
        egestas est. Vestibulum in laoreet velit. Cras eget pellentesque elit.
        Fusce sed est allamcorper ac sagittis at, placerat sit amet felis. Nunc
        pulvinar, magna a mattis consectetur, dui lorem
      </p>

      <button class="info__btn">
        <ion-icon name="cloud-download-outline"></ion-icon>

        download CV
      </button>
    </article>
  </main>
</div>
