:root {
  --c-principal-white: #b7d1ce;
  --c-principal-white-o80: #b7d1cecc;
  --c-principal-white-o60: #b7d1ce99;
  --c-principal-white-o40: #b7d1ce66;
  --c-principal-white-o20: #b7d1ce33;

  --c-principal-liten: #b7d1ce;
  --c-principal-liten-o80: #b7d1cecc;
  --c-principal-liten-o60: #b7d1ce99;
  --c-principal-liten-o40: #b7d1ce66;
  --c-principal-liten-o20: #b7d1ce33;

  --c-principal-main: #7fb3b1;
  --c-principal-main-o80: #7fb3b1cc;
  --c-principal-main-o60: #7fb3b199;
  --c-principal-main-o40: #7fb3b166;
  --c-principal-main-o20: #7fb3b133;

  --c-principal-other: #44757c;
  --c-principal-other-o80: #44757ccc;
  --c-principal-other-o60: #44757c99;
  --c-principal-other-o40: #44757c66;
  --c-principal-other-o20: #44757c33;

  --c-principal-darks: #1f1f1f;
  --c-principal-darks-o80: #1f1f1fcc;
  --c-principal-darks-o60: #1f1f1f99;
  --c-principal-darks-o40: #1f1f1f66;
  --c-principal-darks-o20: #1f1f1f33;

  --white: #ffffff;
  --white-o80: #ffffffcc;
  --white-o60: #ffffff99;
  --white-o40: #ffffff66;
  --white-o20: #ffffff33;

  --black: #000000;
  --black-o80: #000000cc;
  --black-o60: #00000099;
  --black-o40: #00000066;
  --black-o20: #00000033;
}
